<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css"/>
		<script src="js/jquery-2.2.4.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
		<title></title>
		<style type="text/css">
			input.ng-empty {
				background-color: lightblue;
			}
			div{
				width:200px;
				height:200px;
			}
			p{
				padding:10px;
			}
		</style>
	</head>

	<body>

		<!--<div ng-app="" ng-init="quantity=1;cost=5" >
			<p>总价：{{quantity*cost}}</p>
		</div>-->
		<!--<div ng-app="" ng-init="quantity=1;cost=5" >
			<p>总价：<span ng-bind="quantity*cost"></span></p>
		</div>-->
		<!--<div ng-app="" ng-init="firstName='Jhon';lastName='Doe'">
			<p>姓名:{{firstName+" "+lastName}}</p>
		</div>-->
		<!--<div ng-app="" ng-init="person={firstName:'Jhon',lastName:'Doe'}">
			<p>姓名:{{person.firstName+" "+person.lastName}}</p>
		</div>-->
		<!--<div ng-app="" ng-init="firstName='jhon'">
			姓名：<input type="text" ng-model="firstName" />
			<p>你输入的为:{{firstName}}</p>
		</div>-->
		<!--<div ng-app="" ng-init="price=5;num=3;">
			<h2>价格计算器</h2>
			购买的数量：<input type="text" ng-model="num" />
			<p>你需支付的总价为:{{price*num}}</p>
		</div>-->
		<!--<div ng-app="" ng-init="names=[{name:'Jani',country:'Norway'},{name:'Hege',country:'Sweden'},{name:'Kai',country:'Denmark'}]">
			<p>使用ng-repeat循环</p>
			<ul>
				<li ng-repeat="x in names">
					{{x.name+" "+x.country}}
				</li>
			</ul>
		</div>-->
		<!--<div ng-app="myApp" ng-controller="myCtrl">
			名字：<input ng-model="name"/>
			<h1>你输入了：{{name}}</h1>
		</div>-->
		<!--<form action="" ng-app="" name="myForm" ng-init="myText='41165990@qq.com'">
			Email:
			<input type="email" name="myAdress" ng-model="myText" required/>
			<span ng-show="myForm.myAdress.$error.email">不是一个合法的邮箱地址</span>
			<h1>状态</h1>
			{{myForm.myAdress.$valid}}
			{{myForm.myAdress.$dirty}}
			{{myForm.myAdress.$touched}}
		</form>-->
		<!--<form ng-app="" name="myForm">
			输入你的名字:
			<input name="myName" ng-model="myText" required>
			输入你的年龄：
			<input name="myAge" ng-model="myText" required>
			状态：
			{{myForm.myName.$valid}}
		</form>-->
		<!--<div ng-app="myApp" ng-controller="customersCtrl">

			<ul>
				<li ng-repeat="x in names">
					{{ x.Name + ', ' + x.Country }}
					{{x.Name}}
				</li>
			</ul>
		</div>-->

		<!--<div ng-app="myApp" ng-controller="customersCtrl">
			<ul>
				<li>
					{{names}}
				</li>
			</ul>
		</div>-->

		<!--<div ng-app="" ng-init="mySwitch=true">
			<p>
				<button ng-disabled="mySwitch">点我！</button>
			</p>
			<p>
				<input type="checkbox"  ng-model="mySwitch"/>按钮
			</p>
			<p>{{mySwitch}}</p>
		</div>-->
		<!--<div ng-app="">
			<p ng-show="mycontrol">我是可见的</p>
			<p ng-show="mycontrol">我是不可见的</p>
			<input type="checkbox" ng-model="mycontrol"/>显示或隐藏
			{{mycontrol}}
		</div>-->
		<!--<div ng-app="myApp" ng-controller="myCtrl">
			<button ng-click="toggle()">显示/隐藏</button>
			<p ng-hide="myVal">
				<input type="text" ng-model="firstName"/>
				<input type="text" ng-model="lastName"/>
				<br />
				Full Name:{{firstName+lastName}}
			</p>
		</div>-->
		<!--<div ng-app="myApp" ng-controller="formCtrl">
			<form novalidate action="">
				FirstName:<br />
				<input type="text" ng-model="user.firstName"/></br>
				LastName:</br>
				<input type="text" ng-model="user.lastName"/></br>
				<button ng-click="reset()">RESET</button>
			</form>
			<p>form={{user}}</p>
			<p>master={{master}}</p>
		</div>
		<script type="text/javascript">
			var app = angular.module('myApp', []);
			app.controller("formCtrl",function($scope){
				$scope.master={firstName:'Jhon',lastName:'Doe'}
				$scope.reset=function(){
					$scope.user=angular.copy($scope.master);
					console.log($scope.user);
				}
				$scope.reset();
			});
		</script>-->
		
		<!--<div class="panel panel-primary" ng-app="myApp">
			<div class="panel-heading">
				<div class="panel-title">
					双向数据绑定
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<form action="" class="form-horizontal" role="form" ng-controller="userInfoCtrl">
							<div class="form-group">
								<label for="" class="col-md-2 control-label">
									邮箱：
								</label>
								<div class="col-md-10">
									<input type="email" class="form-control" placeholder="推荐使用126邮箱" ng-model="userInfo.email"/>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-md-2 control-label">
									密码：
								</label>
								<div class="col-md-10">
									<input type="password" class="form-control" placeholder="只能是数字、字母、下划线" ng-model="userInfo.password"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-2 col-md-10">
									<div class="checkbox">
										<label for="">
											<input type="checkbox" placeholder="" ng-model="userInfo.autoLogin"/>自动登录
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-10 col-md-offset-2">
									<button class="btn btn-default" ng-click="getUserInfo()">获取form表单的值</button>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-10 col-md-offset-2">
									<button class="btn btn-default" ng-click="setUserInfo()">设置form表单的值</button>
								</div>
							</div>
							<button class="btn btn-primary" ng-click="alert()">1233</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var app=angular.module("myApp",[]);
			app.controller("userInfoCtrl",function($scope){
				$scope.userInfo={
					email:"4343@qq.com",
					password:234242,
					autoLogin:true
				};
				$scope.getUserInfo=function(){
					console.log($scope.userInfo);
				};
				$scope.setUserInfo=function(){
					$scope.userInfo={
						email:"sakldjaskl@qq.com",
						password:"dsjakldjs",
						autoLogin:false
					};
				};
				$scope.alert=function(){
					alert(2);
				}
			});
		</script>-->
		
		<div ng-app="myApp" ng-controller="myCtrl">
			<input type="emali" ng-model="userInfo.email" />
			<input type="password" ng-model="userInfo.password" />
			<button class="btn btn-default" ng-click="getUserInfo()">点击</button>
		</div>
		
		<script type="text/javascript">
			var app=angular.module("myApp",[]);
			app.controller("myCtrl",function($scope){
				$scope.userInfo={
					email:"13@qq.com",
					password:2323
				};
				$scope.getUserInfo=function(){
					console.log($scope.userInfo);
				}
			});
		</script>

	</body>

</html>